@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__name {
  color: #2356ec;
  font-family: sans-serif;
  padding: 6px;
}
